<div>
  <div class="sub-home-container">
    <div class="home-box right">
      <p>Jump straight to the forum.</p>
      <form method="get" action="/discussions/1">
        <button type="submit">browse discussions</button>
      </form>
    </div>

    <div class="home-box">
      <p>Sign in or sign up.</p>
      <form method="get" action="/users/sign_in">
        <button type="submit">sign in / sign up</button>
      </form>
    </div>
  </div>
</div>